<div class="carousel-wrapper">
  <button class="arrow left" (click)="rotateLeft()">&#10094;</button>

  <div class="carousel-track">
    <div
      class="pokemon-card tilted left"
      (click)="rotateLeft(); openPokemonModal(current)"
    >
      <img src="{{ prev.image }}" />
      <p>{{ prev.name }}</p>
    </div>

    <div class="pokemon-card center" (click)="openPokemonModal(current)">
      <img src="{{ current.image }}" />
      <p>{{ current.name }}</p>
    </div>

    <div
      class="pokemon-card tilted right"
      (click)="rotateRight(); openPokemonModal(current)"
    >
      <img src="{{ next.image }}" />
      <p>{{ next.name }}</p>
    </div>
  </div>

  <button class="arrow right" (click)="rotateRight()">&#10095;</button>
</div>
