<mat-toolbar class="header">
  <img
    (click)="special()"
    mat-card-avatar
    class="image"
    src="assets/Pokeball.png"
    alt=""
  />
  <span>Pokemon Rogue Lite</span>
  <span class="spacer"></span>
  <span class="player-pokemon-name"
    >{{ playerName() }} {{ pokemonName() }}</span
  >
  <span class="menu-spacer"></span>
  <button [matMenuTriggerFor]="menu" mat-icon-button class="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="reloadPage()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="openPlayerCard()" [disabled]="!activeSave">
      <mat-icon>person</mat-icon>
      <span>Trainer Card</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-menu>
</mat-toolbar>
