<mat-toolbar class="header">
  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @for (pokemon of pokemonList; track $index) {

    <button (click)="playPokemon(pokemon)" class="menu-button" mat-menu-item>
      {{ pokemon.name }}
    </button>
    }
  </mat-menu>
  <span>Pokemon Rogue Lite</span>
  <span class="example-spacer"></span>
</mat-toolbar>
