.header {
  border-bottom: solid 1px #ffabf3;
  color: #ffabf3;
  display: flex;
  gap: 2rem;
}
.player-pokemon-name {
  display: flex;
  margin-left: 16rem;
}
mat-icon {
  color: #ffabf3;
}
.menu-button {
  color: #ffabf3;
}

.image {
  margin: 0;
}
