.header {
  border-bottom: solid 1px #ffabf3;
  color: #ffabf3;
  display: flex;
  gap: 2rem;
}
.player-pokemon-name {
  display: flex;
}
mat-icon {
  color: #ffabf3;
}
.menu-button {
  color: #ffabf3;
}

.image {
  margin: 0;
}

.menu {
  display: flex;
}
.spacer {
  margin-left: 1vw;
  margin-right: 1vw;
}

.menu-spacer {
  display: flex;
  flex-grow: 1;
}
