@if (currentView() === 'empty') {
<mat-card class="container" appearance="outlined">
  <mat-card-content></mat-card-content>
</mat-card>
}

<!-- active pokemon battle view -->
@if (currentView() === 'active') {
<mat-card
  [class.dead]="dead()"
  [class.evolve-effect]="brockEvolveEffect()"
  [class.attack-effect]="pokemonAttacked()"
  [class.hit-effect]="pokemonHit()"
  [ngStyle]="{ 'background-image': 'url(' + bossPokemonImage() + ')' }"
  class="container"
  appearance="outlined"
>
  <mat-card-content>
    <div class="pokemon-name">{{ bossPokemonName() }}</div>
    <div class="main-container">
      <div class="pokemon-display-box">
        <div class="health">
          Health
          <div>
            {{ bossCurrentHealth() }}
          </div>
        </div>

        <div class="level">
          Level
          <div>
            {{ bossLevel() }}
          </div>
        </div>
        <div class="atk">
          ATK
          <div>{{ bossAttack() }}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions
    ><button
      [class.attacking]="currentlyAttacking()"
      [disabled]="playerLoss()"
      class="atk-button"
      mat-button
      (click)="attack(); triggerAttackedEffect(); declareAttack()"
    >
      Attack
    </button></mat-card-actions
  >
</mat-card>
} @if (currentView() === 'item') {
<mat-card class="container" appearance="outlined">
  <mat-card-title class="title">You Found a Hidden Item!</mat-card-title>
  <mat-card-content>
    <div class="item-holder">
      <img class="item-image" src="{{ discoveredItem()!.image }}" />
    </div>
  </mat-card-content>
  <mat-card-actions
    ><button
      class="item-button"
      (click)="useItem(discoveredItem()!); clearItem()"
      mat-button
    >
      Take Item?
    </button></mat-card-actions
  >
</mat-card>
}
<!-- random encounter view -->
@if (currentView() === 'encounter') {
<mat-card
  [class.dead]="choice() === true"
  [ngStyle]="{
    'background-image': 'url(' + backgroundImage + ')'
  }"
  class="container"
  appearance="outlined"
>
  <div class="blur-wrap" [class.blurred]="hidden() === true">
    <mat-card-title class="title choice-title">{{
      currentRandomEncounter()!.name
    }}</mat-card-title>
    <mat-card-content
      ><p class="description">{{ currentRandomEncounter()!.description }}</p>
    </mat-card-content>
  </div>
  <mat-card-actions
    ><button
      (click)="uncover(); choose()"
      class="encounter-selection-button"
      mat-button
    >
      Go This Way
    </button></mat-card-actions
  >
</mat-card>
}
