.log-container {
  display: flex;
  flex-direction: column-reverse;
  height: 22vh;
  aspect-ratio: 3/4;

  border: solid 2px #ffabf3;
  border-radius: 15px;
  padding-right: 5px;
}

.log-wrapper {
  margin: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}

.selection-bar {
  height: 2rem;
}

.log-wrapper::-webkit-scrollbar {
  width: 6px;
}
.log-wrapper::-webkit-scrollbar-thumb {
  background-color: #ffabf3;
  border-radius: 4px;
}

.log-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.log-line {
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

.log-line.player-damage {
  color: blue;
}

.log-line.enemy-damage {
  color: red;
}

.log-line.status {
  color: white;
}

.log-line.taunt {
  color: #ffabf3;
}

.log-line.glitch {
  color: greenyellow;
}
