.player-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 86vw;
  height: 48vh;
  z-index: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

mat-card-actions {
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  min-height: 100%;
  align-items: center;
  position: relative;
}

.player-display.player-loss {
  filter: grayscale(1) brightness(0.7);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}
