.player-display {
  width: 94vw;
  height: 48vh;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
