<div class="main">
  <app-header />
  <app-content-box />
  <div class="options-container">
    <app-choice-box-left />
    <app-choice-box-center />
    <app-choice-box-right />
  </div>

  <div class="stats-container">
    <app-player-card>
      <app-stat-box-left class="left" />
      <app-stat-box-center class="center" />
      <app-stat-box-right class="right" />
    </app-player-card>
  </div>

  <app-exp-bar />
  @if (pulseEffect()) {
  <div class="psychic-pulse"></div>

  } @if (healingEffect()) {
  <div class="healing-pulse"></div>
  }
</div>
