<mat-card class="main-content-container" appearance="outlined">
  <mat-card-content class="content">
    <!-- blurb view -->
    @if (currentView() === 'blurb') {

    <div>
      <p class="blurb">
        Welcome to the game! Choose a save file and begin your adventure.
      </p>
      <button mat-button (click)="displaySaveFiles()" id="startGameBtn">
        Start Game
      </button>
    </div>
    }
    <!-- save file view -->
    @if (currentView() === 'saves') {

    <mat-tab-group class="tabs">
      @for (save of saveFiles(); track save.slot) {
      <mat-tab class="each-tab" [label]="save.playerName">
        <div class="fixer">
          <div class="tab-main">
            @if (save.playerName !== 'New Game') {
            <!-- rank icon -->
            <div class="top-right-icon">
              <img class="rank-img" src="{{ previewRank(save) }}" alt="" />
            </div>
            } @else {
            <div class="top-right-icon">
              <img class="rank-img" src="{{ pokeballBlank }}" alt="" />
            </div>
            }
            <!-- pokemon names container -->
            @if (save.playerName !== 'New Game') {
            <div class="pokemon-container">
              @for (pokemon of previewPokeList(save); track pokemon.id) {
              <div class="name-holder">
                {{ pokemon.name }}
              </div>
              }
            </div>
            } @else {
            <div class="pokemon-container">
              <div class="name-holder">Begin a brand new Pokemon journey?</div>
            </div>
            }
            <!-- badges -->
            <div class="badges-holder">
              @for (badge of sortBadges(save); track badge.badgeId) {
              <div class="badge-container">
                <div class="badge">
                  <img class="badge-img" src="{{ badge.badgeImage }}" />
                </div>
              </div>
              }
            </div>
            <!-- game button -->
            @if (save.playerName !== 'New Game'){
            <button
              class="start-button"
              mat-button
              (click)="handleSaveClick(save); displayPokemonList()"
            >
              Launch Save File
            </button>
            } @else {
            <button
              class="start-button"
              mat-button
              (click)="handleSaveClick(save)"
            >
              Start New Game
            </button>
            }
          </div>
        </div>
      </mat-tab>
      }
    </mat-tab-group>
    }

    <!--pokemon selection view-->
    @if (currentView() === 'pokemonSelection') {
    <app-pokemon-carousel></app-pokemon-carousel>

    <!-- <div class="pokemon-selection-container">
      @for (pokemon of pokemonList(); track pokemon.id) {
      <button
        class="pokemon-button"
        mat-button
        (click)="selectPokemon(pokemon)"
      >
        {{ pokemon.name }}
      </button>
      }
    </div> -->
    }

    <!-- path selection view -->
    @if (currentView() === 'battleSelect') { @for (boss of sortBosses(); track
    boss.difficulty) {
    <button mat-button (click)="selectRoute(boss)">Brock Route</button>

    } }
    <!-- active battle path view -->
    @if (currentView() === 'battlePath'){
    <span>Brock: You'll never make it to me!</span>
    <button (click)="increaseRouteCount()" mat-button>
      Incease Route Count
    </button>
    }

    <!-- boss battle view -->
    @if (currentView() === 'pathBoss') {
    <div class="boss-container">
      <div class="chat-container">
        <span class="boss-text"
          >I cant beleive you made it! Prepare yourself</span
        >
      </div>
      <div class="boss-image-container">
        <img class="boss-image" src="{{ bossImage }}" alt="" />
      </div>
      <div class="boss-badge-container">
        <img class="boss-badge" src="{{ bossBadgeImage }}" alt="" />
      </div>
    </div>

    }
  </mat-card-content>
</mat-card>
