<mat-card class="main-content-container" appearance="outlined">
  <mat-card-content class="content">
    <!-- blurb view -->
    @if (currentView() === 'blurb') {

    <div>
      <p class="blurb">
        Welcome to the game! Choose a save file and begin your adventure.
      </p>
      <button mat-button (click)="displaySaveFiles()" id="startGameBtn">
        Start Game
      </button>
    </div>
    }
    <!-- save file view -->
    @if (currentView() === 'saves') {
    <mat-tab-group
      class="tabs"
      (selectedTabChange)="handleSaveClick($event.index)"
    >
      @for (save of saveFiles(); track save.slot) {
      <mat-tab [label]="save.playerName">
        <!-- show pokemon list only on selected tab -->
        <div class="holder">
          @if(selectedSave()?.slot === save.slot){ @for (pokemon of
          pokemonList(); track pokemon.id) {
          <button mat-button (click)="selectPokemon(pokemon)">
            {{ pokemon.name }}
          </button>
          } }
        </div>
      </mat-tab>
      }
    </mat-tab-group>
    }
  </mat-card-content>
</mat-card>
