<mat-card class="main-content-container" appearance="outlined">
  <mat-card-content class="content">
    <!-- blurb view -->
    @if (currentView() === 'blurb') {

    <div>
      <p class="blurb">
        Welcome to the game! Choose a save file and begin your adventure.
      </p>
      <button mat-button (click)="displaySaveFiles()" id="startGameBtn">
        Start Game
      </button>
    </div>
    }
    <!-- save file view -->
    @if (currentView() === 'saves') {

    <mat-tab-group class="tabs">
      @for (save of saveFiles(); track save.slot) {
      <mat-tab class="each-tab" [label]="save.playerName">
        <div class="fixer">
          <div class="tab-main">
            <!-- Top Right Icon -->
            <div class="top-right-icon">
              <img class="rank-img" src="{{ save.rank }}" alt="" />
            </div>

            <!-- Pokémon List -->
            <div class="pokemon-container">
              @for (pokemon of previewPokeList(save); track pokemon.id) {
              <div class="name-holder">
                {{ pokemon.name }}
              </div>
              }
            </div>

            <!-- Badges -->
            <div class="badges-holder">
              @for (badge of sortBadges(save); track badge.badgeId) {
              <div class="badge-container">
                <div class="badge">
                  <img class="badge-img" src="{{ badge.badgeImage }}" />
                </div>
              </div>
              }
            </div>

            <!-- Launch Button -->
            <button
              class="start-button"
              mat-button
              (click)="handleSaveClick(save); displayPokemonList()"
            >
              Launch Save File
            </button>
          </div>
        </div>
      </mat-tab>
      }
    </mat-tab-group>
    } @if (currentView() === 'pokemonSelection') {
    <div class="pokemon-selection-container">
      @for (pokemon of pokemonList(); track pokemon.id) {
      <button mat-button (click)="selectPokemon(pokemon)">
        {{ pokemon.name }}
      </button>
      }
    </div>
    }
  </mat-card-content>
</mat-card>
