.main-content-container {
  overflow: hidden;
  height: 24vh;
  margin: 0;
  border-radius: 0;
}
mat-card-content {
  overflow: hidden !important;
}

.blurb {
  color: #ffabf3;
}

.tabs {
  height: 100%;
  overflow: hidden;
}
.each-tab {
  height: 100%;
  overflow: hidden;
}

.content {
  height: 100%;
  overflow: hidden;
  color: #ffabf3;
}

.name-holder {
  overflow: hidden;
  text-align: center;
}

/* Main tab container */
.tab-main {
  margin-top: 1rem;
  border: solid 2px #ffabf3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 16vh;
  aspect-ratio: 4/1;
  overflow: hidden;
  padding-bottom: 1rem;
}

/* Pokémon List (Top) */
.pokemon-container {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  padding-left: 2rem;
  padding-top: 2rem;
}

/* Badges (Bottom Left) */
.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 6px;
  justify-content: flex-start;
  width: 70%;
}

/* Top Right Icon */
.top-right-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Start Button (Bottom Right) */
.start-button {
  font-size: 1.5rem;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.badge {
  width: 100%;
  max-width: 60px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.badges-holder {
  overflow: hidden;
  max-width: 80%;
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(8, minmax(60px, 1fr));
  gap: 8px;
  padding-left: 2rem;
}
.badge-img {
  max-width: 60px;
  aspect-ratio: 1/1;
}
.rank-img {
  margin: 1rem;
  width: 60px;
  aspect-ratio: 1/1;
}

.fixer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
