<!-- <mat-card class="container" appearance="outlined">
  <mat-card-content>
    <button (click)="giveExp()" mat-button>Give EXP!</button>
    <button (click)="takeDamage()" mat-button>Damage!</button>
    <button (click)="heal()" mat-button>Heal!</button>
    <button (click)="unlock()" mat-button>Unlock!</button>

    <button (click)="aquireStone()" mat-button>Get Stone!</button>
    <button (click)="megaEvolve()" mat-button>Mega Evolve!</button>
    <input
      matInput
      [(ngModel)]="acquireBadgeNumber"
      type="number"
      name="badge"
      id="badge"
    />
    <button (click)="gainBadge()" mat-button>Gain Badge</button>
    <button (click)="goUpRank()" mat-button>Increase Rank</button>
  </mat-card-content>
</mat-card> -->

@if (currentView() === 'empty') {
<mat-card class="container" appearance="outlined">
  <mat-card-content></mat-card-content>
</mat-card>
}

<!-- active pokemon battle view -->
@if (currentView() === 'active') {
<mat-card
  [class.dead]="dead()"
  [class.attack-effect]="pokemonAttacked()"
  [class.hit-effect]="pokemonHit()"
  [ngStyle]="{ 'background-image': 'url(' + bossPokemonImage() + ')' }"
  class="container"
  appearance="outlined"
>
  <mat-card-content>
    <div class="pokemon-name">{{ bossPokemonName() }}</div>
    <div class="main-container">
      <div class="pokemon-display-box">
        <div class="health">
          Health
          <div>
            {{ bossCurrentHealth() }}
          </div>
        </div>

        <div class="level">
          Level
          <div>
            {{ bossLevel() }}
          </div>
        </div>
        <div class="atk">
          ATK
          <div>{{ bossAttack() }}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions
    ><button
      [disabled]="playerLoss()"
      class="atk-button"
      mat-button
      (click)="attack(); triggerAttackedEffect(); declareAttack()"
    >
      Attack
    </button></mat-card-actions
  >
  <!-- <button (click)="level()" mat-button>Level Up!</button> -->
</mat-card>
}
