.container {
  width: 12vw;
  height: 8vh;
  z-index: 25;
  display: flex;
  border-top: solid 1px#ffabf3;
  border-left: solid 1px#ffabf3;
  border-right: solid 1px #ffabf3;
  border-bottom: 0;
}
.name {
  font-size: 2rem;
  color: #ffabf3;
}

.stat {
  margin-top: 1vh;
  align-self: flex-end;
  font-size: 2rem;
  color: #ffabf3;
}
