<div class="carousel-wrapper">
  <button class="arrow left" (click)="rotateLeft()">&#10094;</button>

  <div class="carousel-track">
    <div class="pokemon-card tilted left" (click)="rotateLeft()">
      <img src="{{ prev.image }}" />
      <p>{{ prev.bossName }}</p>
    </div>

    <div class="pokemon-card center">
      <img src="{{ current.image }}" />
      <p>{{ current.bossName }}</p>
    </div>

    <div class="pokemon-card tilted right" (click)="rotateRight()">
      <img src="{{ next.image }}" />
      <p>{{ next.bossName }}</p>
    </div>
  </div>

  <button class="arrow right" (click)="rotateRight()">&#10095;</button>
</div>
