.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 2rem;
  perspective: 1000px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
  height: 16vh;
  aspect-ratio: 3/4;
  background: #161215;
  border: solid 2px #ffabf3;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.4s ease;
  cursor: pointer;

  .boss-image {
    border-radius: 15px;
    margin-top: 0.3rem;
    width: 100%;
    height: 140px;
    object-fit: contain;
  }
  .badge-image {
    height: 60px;
    object-fit: contain;
  }

  p {
    font-size: 1.5rem;
    margin: 0 !important;
    font-weight: bold;
  }

  &.tilted.left {
    transform: rotateY(25deg) scale(0.85);
    opacity: 0.6;
  }

  &.tilted.right {
    transform: rotateY(-25deg) scale(0.85);
    opacity: 0.6;
  }

  &.center {
    transform: scale(1.1);
  }
}

.arrow {
  color: #ffabf3;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.pokemon-card.locked {
  filter: grayscale(1) brightness(0.7);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}
