.title {
  display: flex;
  justify-content: center;
  color: #ffabf3;
  margin-bottom: 1.5rem;
}

.badges-container {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rank {
  width: 20%;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #ffabf3;
  padding: 10px;
}

mat-dialog-content {
  max-height: 80vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 180px;
  overflow: hidden;
}
.badge-holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.badge {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.badge-name {
  color: #ffabf3;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .badge-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
