<h2 class="title" mat-dialog-title>{{ username() }}'s Trainer Card</h2>
<mat-dialog-content class="content">
  <div class="rank">show rank</div>
  <div class="badges-container">
    @for (badge of badges; track badge.badgeId){
    <div class="badge-holder">
      <div class="badge">
        <img src="{{ badge.badgeImage }}" alt="Test" />
      </div>
      <span class="badge-name">{{ badge.badgeName }}</span>
    </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Close Card</button>
</mat-dialog-actions>
