<mat-card class="container" appearance="outlined">
  <mat-card-content>
    <button (click)="giveExp()" mat-button>Give EXP!</button>
    <button (click)="takeDamage()" mat-button>Damage!</button>
    <button (click)="heal()" mat-button>Heal!</button>
    <button (click)="unlock()" mat-button>Unlock!</button>
    <button (click)="level()" mat-button>Level Up!</button>
    <button (click)="aquireStone()" mat-button>Get Stone!</button>
    <button (click)="megaEvolve()" mat-button>Mega Evolve!</button>
  </mat-card-content>
</mat-card>
